.cv-icon {
    padding-bottom: 25px;

    &:before {
        content: '';
        border-bottom: 2px solid #777;
        width: 170px;
        height: 100px;

        position: absolute;
        top: -50px;
        left: 220px;
    }

    &:after {
        content: '';
        border-bottom: 2px solid #777;
        width: 170px;
        height: 100px;

        position: absolute;
        top: -50px;
        right: 230px;
    }
}

.cv-text {
    color: #777;
    letter-spacing: -0.5px;
    font-size: 14px;
    padding-top: 10px;
}

