.heading-block{
    margin-bottom: 80px;
    text-align: center;
}

.heading-1 {
    font-family: Montserrat,sans-serif;
    font-weight: 700;
    color: #fff;
    font-size: 60px;
    line-height: 1.1;
    text-transform: uppercase;
    letter-spacing: -2px;
    margin: 0;
    margin-bottom: 30px;

    @media (max-width: 940px) {
        font-size: 40px;
    }
}

.heading-2 {
    font-family: Montserrat,sans-serif;
    font-weight: 700;
    color: #222;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: -1px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 5px;

    @media (max-width: 940px) {
        font-size: 30px;
    }
}

.heading-2.white {
    color: #fff;
}

.heading-2 em {
    color: #7cc576;
    font-style: normal;
}

.subtitle {
    font-size: 20px;
    color: #777;
    font-family: 'Roboto Slab',sans-serif;
    margin-top: 0;

    @media (max-width: 940px) {
        font-size: 18px;
    }
}

.subtitle.subtitle-header {
    color: #ccc;
}