.partners {
    padding: 60px 0;

    @media (max-width: 940px) {
        display: flex;
        flex-direction: column; 
    }
}

.partners a {

    @media (max-width: 940px) {
        align-items: center; 
    }
}

.partners img {
    vertical-align: middle;
    border: 2px solid #fff;

    &:hover {
        border-color: yellowgreen;
    }
}

.partners a + a {
    margin-left: 50px;

    @media (max-width: 940px) {
        margin-left: 0; 
    }
}