.service-item {
    text-align: center;
}

.service-icon {
    margin-bottom: 35px;
}

.service-icon img {
    height: 50px;
}

.service-header {
    font-size: 18px;
    color: #222;
    font-family: Montserrat,sans-serif;
    font-weight: 700;
    margin-bottom: 10px;
    letter-spacing: -0.5px;
    text-transform: uppercase;
}

.service-text {
    font-family: 'Roboto Slab',sans-serif;
    font-size: 14px;
    color: #777777;
    letter-spacing: -0.5px;
}